 <head>
    <title>Log in</title>
<link rel="stylesheet" href="/css/login.css">
 </head>
 
 <body>
<form action="/login/validate" method="post">
    <div class="login_form_container">
      <div class="login_form">
        <h2>Login</h2>
        <div class="input_group">
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="input_text"
          >
        </div>
        <div class="input_group">
          <input
            type="text"
            name="password"
            placeholder="Password"
            class="input_text"
          >
        </div>
        <div id="login_button">
           <button type="submit">
             Log in
            </button>
        </div>
        <div class="footer">          
          <a href="/login_signup">Sign Up</a>
        </div>
      </div>
    </div>

    
</form>


 </body>



